In [1]:
import pandas as pd

In [2]:
color_df = pd.read_csv ('data/colors.csv')
color_df.head(3)

   id     name     rgb is_trans
0  -1  Unknown  0033B2        f
1   0    Black  05131D        f
2   1     Blue  0055BF        f

In [3]:
inventories_df = pd.read_csv ('data/inventories.csv')
inventories_df.head(3)

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1

In [4]:
inventory_parts_df = pd.read_csv ('data/inventory_parts.csv')
inventory_parts_df.head(3)

   inventory_id  part_num  color_id  quantity is_spare
0             1  48379c01        72         1        f
1             1     48395         7         1        f
2             1  mcsport6        25         1        f

In [5]:
inventory_sets_df = pd.read_csv('data/inventory_sets.csv')
inventory_sets_df.head(3)

   inventory_id  set_num  quantity
0            35  75911-1         1
1            35  75912-1         1
2            39  75048-1         1

In [6]:
part_categories_df = pd.read_csv('data/part_categories.csv')
part_categories_df.head(3)

   id            name
0   1      Baseplates
1   2  Bricks Printed
2   3   Bricks Sloped

In [7]:
parts_df = pd.read_csv('data/parts.csv')
parts_df.head(3)

  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1

In [8]:
sets_df = pd.read_csv('data/sets.csv')
sets_df.head(3)

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2

In [9]:
themes_df = pd.read_csv('data/themes.csv')
themes_df.head(3)

   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0